/* _content/BlazorUI/Pages/Forum/CreateForum.razor.rz.scp.css */
.box[b-77eie43cx2]{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: 50px auto auto;
}

.field[b-77eie43cx2]{
    margin-top: 20px;
}
.acceptbtn[b-77eie43cx2]{
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px 10px;
}
.acceptbtn:hover[b-77eie43cx2]{
    background-color: #00d900;
}
/* _content/BlazorUI/Pages/Forum/Forums.razor.rz.scp.css */
.body[b-1pmr40vdlc] {
    background-color: #eee;
    border:slategray solid;
    border-radius: 8%;
    box-shadow: 5px 10px #2196F3;
}

.mt-100[b-1pmr40vdlc] {
    margin-top: 100px
}

.card[b-1pmr40vdlc] {
    border-radius: 7px !important;
    border-color: #e1e7ec;
    width: auto;
    height: 210px;
   
}

.mb-30[b-1pmr40vdlc] {
    margin-bottom: 30px !important
}


a[b-1pmr40vdlc] {
    color: #0da9ef;
    text-decoration: none !important
}

.thumblist[b-1pmr40vdlc] {
    width: 35%;
    border-left: 1px solid #e1e7ec !important;
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle
}



.btn-group-sm>.btn[b-1pmr40vdlc],
.btn-sm[b-1pmr40vdlc] {
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}
/* _content/BlazorUI/Pages/Forum/SubForums/CreateSubForums.razor.rz.scp.css */
.box[b-1khyo0e2ef]{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    padding: 25px;
    text-align: center;
    margin: 50px auto auto;
}

.field[b-1khyo0e2ef]{
    margin-top: 20px;
}
.acceptbtn[b-1khyo0e2ef]{
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px 10px;
}
.acceptbtn:hover[b-1khyo0e2ef]{
    background-color: #00d900;
}
/* _content/BlazorUI/Pages/Forum/SubForums/Posts/AllPosts.razor.rz.scp.css */
.forum-container[b-aby8fb0kek]{
    border: 1px solid grey;
    margin-bottom: 2.5%;
    padding: 10px;
}
.username[b-aby8fb0kek]{
    font-size:small ;
    cursor: pointer;
    color: #0A4815;
    font-weight: bold;
}
.username:hover[b-aby8fb0kek]{
    text-decoration: underline;
    color:blue;
}

.post-header[b-aby8fb0kek]{
    cursor: pointer;
    color: #7B1840;
    font-weight: bold;
}
.post-header:hover[b-aby8fb0kek]{
    text-decoration: underline;
    color:blue;
}

.body[b-aby8fb0kek]  {
    border:slategray solid;
    border-radius: 8%;
    box-shadow: 5px 10px #2196F3;
}
.body:hover[b-aby8fb0kek]{
    background-color: #dee3e0;
}
/* _content/BlazorUI/Pages/Forum/SubForums/Posts/CreatePost.razor.rz.scp.css */
.box[b-lk92yk1ep3]{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: 50px auto auto;
}

.field[b-lk92yk1ep3]{
    margin-top: 20px;
}
.acceptbtn[b-lk92yk1ep3]{
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px 10px;
}
.acceptbtn:hover[b-lk92yk1ep3]{
    background-color: #00d900;
}
/* _content/BlazorUI/Pages/Forum/SubForums/Posts/ViewPost/ViewPost.razor.rz.scp.css */
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");*/

body[b-9l94p9wxqz] {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.card[b-9l94p9wxqz] {
    border: none
}

.ellipsis[b-9l94p9wxqz] {
    color: #a09c9c
}

hr[b-9l94p9wxqz] {
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px
}

.muted-color[b-9l94p9wxqz] {
    color: #a09c9c;
    font-size: 13px
}

.ellipsis i[b-9l94p9wxqz] {
    margin-top: 3px;
    cursor: pointer
}

.icons i[b-9l94p9wxqz] {
    font-size: 25px
}

.icons .fa-heart[b-9l94p9wxqz] {
    color: red
}

.icons .fa-smile-o[b-9l94p9wxqz] {
    color: yellow;
    font-size: 29px
}

.rounded-image[b-9l94p9wxqz] {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

.name[b-9l94p9wxqz] {
    font-weight: 600
}

.comment-text[b-9l94p9wxqz] {
    font-size: 12px
}

.status small[b-9l94p9wxqz] {
    margin-right: 10px;
    color: blue
}

.form-control[b-9l94p9wxqz] {
    border-radius: 26px
}

.comment-input[b-9l94p9wxqz] {
    position: relative
}

.fonts[b-9l94p9wxqz] {
    position: absolute;
    right: 13px;
    top: 8px;
    color: #a09c9c
}

.form-control:focus[b-9l94p9wxqz] {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
}
.box[b-9l94p9wxqz]{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: 50px auto auto;
}
.field[b-9l94p9wxqz]{
    margin-top: 20px;
}
.acceptbtn[b-9l94p9wxqz]{
    background-color: lightgreen;
    border-radius: 5px;
    padding: 5px 10px;
}
.acceptbtn:hover[b-9l94p9wxqz]{
    background-color: #00d900;
}
.body[b-9l94p9wxqz]  {
    border:slategray solid;
    border-radius: 8%;
    box-shadow: 5px 10px #2196F3;
}
/* _content/BlazorUI/Pages/Forum/SubForums/SubForums.razor.rz.scp.css */
.entirePage[b-xggczduum5] {
    margin: 10px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
}

.mt-50[b-xggczduum5] {
    margin-top: 50px
}

.mb-50[b-xggczduum5] {
    width: 70%;
    margin-bottom: 50px
}

.card[b-xggczduum5] {
    position: relative;
    display: -ms-flexbox;
    margin-bottom: 25px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:slategray solid;
    border-radius: 8%;
    box-shadow: 5px 10px #2196F3;
    height: 250px;
}
.card:hover[b-xggczduum5]{
    background-color: #dee3e0;
}

@media (min-width: 576px) {
    .blog-horizontal .card-img-actions[b-xggczduum5] {
        width: 45%;
        float: left;
        max-width: 25rem;
        z-index: 10
    }
}

a[b-xggczduum5] {
    text-decoration: none !important
}

.course-button[b-xggczduum5] {
    border: 1px solid #007bff;
    padding: 5px;
    background-color: #007bff;
    padding-right: 10px;
    padding-top: 3px;
    color: #fff;
    border-radius: 3px
}

.course-button:hover[b-xggczduum5] {
    color: #fff
}
/* _content/BlazorUI/Pages/UIElements/LoginButtons.razor.rz.scp.css */
.icon[b-mwrmd3tkya]{
    width: 30px;
    cursor: pointer;
}
/* _content/BlazorUI/Pages/UIElements/Modal.razor.rz.scp.css */
.modal-background[b-y6l1j2v8r0] {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.47); /* Black w/ opacity */
    display:block;
}

/* Modal Content/Box */
.modal-box[b-y6l1j2v8r0] {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000000;
    /*display:inline-block;*/
    width: 30%; /* Could be more or less, depending on screen size */
    min-width: 300px;
    border-radius: 25px;
    box-shadow: 0 5px 30px 15px #3f3f3f;
}
/* _content/BlazorUI/Pages/UIElements/NotLoggedIn.razor.rz.scp.css */

.loginbtn[b-c851v547p7] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginbtn:hover[b-c851v547p7]{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}
/* _content/BlazorUI/Pages/User/CreateUser.razor.rz.scp.css */
.card[b-9ns6fcdr3y] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.field[b-9ns6fcdr3y] {
    margin-top: 20px;
}

.createButton[b-9ns6fcdr3y] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.createButton:hover[b-9ns6fcdr3y]{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}
/* _content/BlazorUI/Pages/User/Login.razor.rz.scp.css */
.card[b-se24kx68pl] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.field[b-se24kx68pl] {
    margin-top: 20px;
}

.loginbtn[b-se24kx68pl] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginbtn:hover[b-se24kx68pl]{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}
/* _content/BlazorUI/Shared/MainLayout.razor.rz.scp.css */
.page[b-9locippnay] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-9locippnay] {
    flex: 1;
}

.sidebar[b-9locippnay] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-9locippnay] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-9locippnay]  a, .top-row .btn-link[b-9locippnay] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-9locippnay] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-9locippnay] {
        display: none;
    }

    .top-row.auth[b-9locippnay] {
        justify-content: space-between;
    }

    .top-row a[b-9locippnay], .top-row .btn-link[b-9locippnay] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-9locippnay] {
        flex-direction: row;
    }

    .sidebar[b-9locippnay] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-9locippnay] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-9locippnay], article[b-9locippnay] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorUI/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-im1vr98q65] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-im1vr98q65] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-im1vr98q65] {
    font-size: 1.1rem;
}

.oi[b-im1vr98q65] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-im1vr98q65] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-im1vr98q65] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-im1vr98q65] {
        padding-bottom: 1rem;
    }

    .nav-item[b-im1vr98q65]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-im1vr98q65]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-im1vr98q65]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-im1vr98q65] {
        display: none;
    }

    .collapse[b-im1vr98q65] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
