@page "/Login" 
@using Contracts
@using Microsoft.AspNetCore.Identity
@using Microsoft.Win32.SafeHandles
@inject IUserService userService; 
@inject NavigationManager navMgr; 

<div class="card">
    <h3> Login</h3>
    <div class="field">
        <label> Username :</label>
        <input type="text" @bind="username"/>
    </div>
    <div class="field">
        <label> Password :</label>
        <input type="password" @bind="password"/>
    </div>
    @if (!string.IsNullOrEmpty(errorlabel)) {
        <div class="field">
            <label style="color: red"></label>
            @errorlabel
        </div>
    }
    <div class="field">
        <button class="loginbtn" @onclick="LoginAsync"> Login</button>
    </div>
</div>

@code {
    private string username;
    private string password;
    private string errorlabel;


    private async Task LoginAsync() {
        errorlabel = "";
        try {
            await userService.LoginAsync(username, password);
    //   navMgr.NavigateTo("/");
            errorlabel = $"Hello {username}, logged in..";
    //
        }
        catch (Exception e) {
            errorlabel = $"Error : {e.Message}";
        }
    }

}