.forum-container[b-gupuyh7gmx]{
    border: 1px solid grey;
    margin-bottom: 2.5%;
    padding: 10px;
}
.username[b-gupuyh7gmx]{
    font-size:small ;
    cursor: pointer;
    color: #0A4815;
    font-weight: bold;
}
.username:hover[b-gupuyh7gmx]{
    text-decoration: underline;
    color:blue;
}

.post-header[b-gupuyh7gmx]{
    cursor: pointer;
    color: #7B1840;
    font-weight: bold;
}
.post-header:hover[b-gupuyh7gmx]{
    text-decoration: underline;
    color:blue;
}
