.forum-container[b-aby8fb0kek]{
    border: 1px solid grey;
    margin-bottom: 2.5%;
    padding: 10px;
}
.username[b-aby8fb0kek]{
    font-size:small ;
    cursor: pointer;
    color: #0A4815;
    font-weight: bold;
}
.username:hover[b-aby8fb0kek]{
    text-decoration: underline;
    color:blue;
}

.post-header[b-aby8fb0kek]{
    cursor: pointer;
    color: #7B1840;
    font-weight: bold;
}
.post-header:hover[b-aby8fb0kek]{
    text-decoration: underline;
    color:blue;
}

.body[b-aby8fb0kek]  {
    border:slategray solid;
    border-radius: 8%;
    box-shadow: 5px 10px #2196F3;
}
.body:hover[b-aby8fb0kek]{
    background-color: #dee3e0;
}
