@page "/CreateSubForum/{ForumId:int}"
@using Entities.Models
@using Contracts
@using UIElements
@inject IForumService forumService;
@inject NavigationManager navMgr;


<AuthorizeView>
    <Authorized>
        <div class="box">
            <h3> Create a Sub-Forum</h3>
            <EditForm Context="formCtx" Model="@NewSubForumItem" OnValidSubmit="@((() => AddSubForum(context.User.Identity.Name)))">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-group field">
                    <span>
                        <label> SubForum Title :</label>
                    </span>
                    <span>
                        <InputTextArea rows="2" @bind-Value="NewSubForumItem.Title"/>
                    </span>
                </div>

                <div class="form-group field">
                    <span>
                        <label> Description:</label>
                    </span>
                    <span>
                        <InputTextArea rows="7" @bind-Value="NewSubForumItem.Description"/>
                    </span>
                </div>

                <p class="actions">
                    <button class="acceptbtn" type="submit"> Create Forum</button>
                </p>
            </EditForm>
            @if (!string.IsNullOrEmpty(errorLabel)) {
                <label> @errorLabel</label>
            }
            @if (showModal) {
                <Modal>
                    <p>New forum created</p>
                    <button class="btn btn-outline-dark" @onclick="Proceed"> OK</button>
                </Modal>
            }
        </div> 
    </Authorized>
    <NotAuthorized>
        <NotLoggedIn>
            <p> You need to be logged in, to create a forum. Please log in first..</p>
        </NotLoggedIn>

    </NotAuthorized>
</AuthorizeView>

@code { 
    [Parameter]
    public int ForumId { get; set; }
    private SubForum NewSubForumItem = new SubForum();
    private string errorLabel = string.Empty;
    private bool showModal;

    private async Task AddSubForum(string username) {
        try {
            NewSubForumItem.OwnedBy = new User(username);
            await forumService.AddSubForumAsync(NewSubForumItem, ForumId);
            showModal = true;
            NewSubForumItem = new SubForum();
        }
        catch (Exception e) {
            errorLabel = e.Message;
        }
    }

    private void Proceed() {
        showModal = false;
         navMgr.NavigateTo($"/SubForums/{ForumId}");
    }
}