.forum-container{
    border: 1px solid grey;
    margin-bottom: 2.5%;
    padding: 10px;
}
.username{
    font-size:small ;
    cursor: pointer;
    color: #0A4815;
    font-weight: bold;
}
.username:hover{
    text-decoration: underline;
    color:blue;
}

.post-header{
    cursor: pointer;
    color: #7B1840;
    font-weight: bold;
}
.post-header:hover{
    text-decoration: underline;
    color:blue;
}

.body  {
    border:slategray solid;
    border-radius: 8%;
    box-shadow: 5px 10px #2196F3;
}
.body:hover{
    background-color: #dee3e0;
}
